[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=2.0.0"
Pillow = "*"
Flask = "*"
keras-ocr = "*"
opencv-contrib-python = "*"
imutils = "*"
boto3 = "*"
meilisearch = "*"
dataclasses = "*"
scipy = "*"
imagehash = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
